<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>292482634815-cqfg3g2iraff6326h887h45biu200di1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.292482634815-cqfg3g2iraff6326h887h45biu200di1</string>
	<key>API_KEY</key>
	<string>AIzaSyA-BeW8pePnJsfsyzFmQtPkaoBpcgc3k90</string>
	<key>GCM_SENDER_ID</key>
	<string>292482634815</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.iiitkApp</string>
	<key>PROJECT_ID</key>
	<string>iiitk-blog</string>
	<key>STORAGE_BUCKET</key>
	<string>iiitk-blog.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:292482634815:ios:117fc05a17cd657c78d48a</string>
	<key>DATABASE_URL</key>
	<string>https://iiitk-blog.firebaseio.com</string>
</dict>
</plist>